<br />
<div>
  CATEGORY: {{clue?.category?.title}}
</div>
<br />
<div>
  QUESTION: {{clue?.question}}
</div>

<br />
<button (click)="viewSolution()">View Solution</button>
<button *ngIf="enableNextButton" (click)="fetchNextClue()">Next Question</button>
<br />
<form #clueForm="ngForm" >
  <input [disabled]="disableForm" type="text" placeholder="Answer" [(ngModel)]="userAnswer" id="userAnswer" name="userAnswer">
  <button [disabled]="disableForm" type="button" (click)="checkSolution()">Submit</button>
</form>
<br />
ANSWER: <p *ngIf="showAnswer || disableForm">{{clue?.answer}}</p>
<br />
<div *ngIf="disableForm">
  <p *ngIf="showAnswer"> 
    Too hard? Try the next one!
  </p>
  <p *ngIf="!showAnswer"> 
    YOUR ANSWER IS {{ (result) ? "CORRECT!!!" : "WRONG :( Try the next one!"}}
  </p>
</div>
